.rootSignup {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    padding: 0px;
}
.left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background: #232f34;
    height: 100%;
    text-align: center;
}
.right {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 100%;
}